.ProductCart {
    align-items: flex-start;
    background: var(--eggshell);
    border: 4px solid var(--delft-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 60vh;
    overflow: hidden;
    width: 100%;
}

.SingleProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-bottom: 4px solid var(--delft-blue);
    color: var(--delft-blue);
}

.SingleProduct img {
    width: 6rem;
    height: 8rem;
    object-fit: cover;
}

.SingleProduct>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 30%;
}

.SingleProduct h2 {
    font-weight: 1.15rem;
    font-weight: 700;
    height: 100%;
}

.SingleProduct h3 {
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.SingleProduct>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    font-size: 0.85rem;
    padding: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 2.25rem
}

.buttons>button:nth-child(1) {
    border-radius: 6.5rem 0 0 6.5rem;
    height: 100%;
}

.buttons>div:nth-child(2) {
    border-radius: 0;
    border: none;
    background-color: var(--delft-blue);
    padding: 0 0.5rem;
    height: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons>div:nth-child(2):hover {
    color: var(--sunset);
}

.buttons>button:nth-child(3) {
    border-radius: 0 6.5rem 6.5rem 0;
    height: 100%;
}

.SingleProduct h2>span {
    color: red;
    font-weight: 700;
    text-decoration: line-through;
    font-size: 1rem;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.empty h2 {
    text-align: center;
}

@media (max-width: 768px) {
    .SingleProduct {
        width: 100%;
        flex-direction: column;
    }

    .SingleProduct img {
        width: 100%;
        border-radius: 1rems;
        width: 100%;
        height: 20rem;
    }

    .SingleProduct>div:nth-child(2) {
        width: 100%;
        padding: 0 1rem;
    }

    .SingleProduct>div:nth-child(2)>h3{
        width: 100%;
    }

    .SingleProduct>div:nth-child(3) {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }
}