/* Updated Footer styles with the new color theme */
:root {
    --eggshell: #ffdddd;
    --burnt-sienna: hsla(13, 68%, 63%, 1);
    --delft-blue: #250a23;
    --cambridge-blue: #c4adcc;
    --sunset: #ffc8f1;
}

.Footer {
    background-color: var(--delft-blue);
    color: var(--eggshell);
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contactInfo,
.aboutUs,
.quickLinks {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.contactItem a {
    all: unset;
    color: var(--sunset);
}

.contactItem a:hover {
    text-decoration: underline;
    color: var(--burnt-sienna);
    cursor: pointer;
}

.contactItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.contactItem .icon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--sunset);
}

.aboutUs h2,
.quickLinks h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--burnt-sienna);
}

.links a,
.links p {
    display: block;
    margin-bottom: 5px;
    color: var(--eggshell);
    text-decoration: none;
    font-size: 14px;
}

.links a:hover,
.links p:hover {
    text-decoration: underline;
    color: var(--burnt-sienna);
    cursor: pointer;
}

.socialIcons a {
    margin-right: 10px;
    font-size: 18px;
    color: var(--eggshell);
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: var(--burnt-sienna);
}

.logoContainer {
    text-align: center;
    margin: 10px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.bottomSection {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid var(--cambridge-blue);
    padding-top: 10px;
    color: var(--cambridge-blue);
}